<!--Establezca que debe mostrarse cuando no se encuentra la página solicitada-->
<h1>Error 404</h1>
<p>No se encuentra el elemento</p>

<!--Aquí deben ir los estilos y los scripts que serán usados únicamente para esta vista-->
<!--404.css y 400.js son solo un ejemplo-->
<link rel="stylesheet" href="../modular/css/404.css">
<script type="text/javascript" src="../modular/js/400.js"></script>
