<!--Establezca que debe mostrarse cuando ocurre un error de alta gravedad-->
<h1>Error 500</h1>
<p>No se encuentra el elemento</p>

<!--Aquí deben ir los estilos y los scripts que serán usados únicamente para esta vista-->
<!--500.css y 500.js son solo un ejemplo-->
<link rel="stylesheet" href="../modular/css/500.css">
<script type="text/javascript" src="../modular/js/500.js"></script>
