<section class="full-width pageContent">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            ASIGNACION DE EMPLEADOS
                        </div>

                        <div class="full-width panel-content"><br>

                        <div class="  text-center tittles">

                        Haga Click sobre el empleado para asignar tarea
                        </div>
                            <form>
                                <div class="mdl-grid" class="container">
                                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight">DISPONIBLES</h5>
                                            <div validation="AsignacionTarea" event="click">
                                                <img src="../general/imagenes/avatar-male.png" alt="avatar" style="height: 45px; width=45px;">
                                                <span class="mdl-radio__label">Delgado Jean Carlos</span>
                                            </div>
                                    
                                    </div>

                                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight">NO DISPONIBLES</h5>
                                            <div validation="LibrarTarea" event="click">
                                                <img src="../general/imagenes/avatar-male.png" alt="avatar" style="height: 45px; width=45px; ">
                                                <span class="mdl-radio__label">Danny Lucas</span>  
                                            </div>                                
                                    </div>
                                </div>
                                <!-- Botones del Formulario-->      
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script src="../modular/scripts/validation.js" ></script>