<section class="full-width pageContent">
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								ASIGNACION DE EMPLEADOS
							</div>

							<div class="full-width panel-content"><br>

							<div class="  text-center tittles">

							Haga Click sobre la Imagen del empleado para asignar tarea
							</div>
								<form>
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
												<h5 class="text-condensedLight">DISPONIBLES</h5>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
												<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="avatar-male.png">
												<img src="../general/imagenes/avatar-male.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Ronald Cede침o</span>
											</label>
											<br><br>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
												<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="avatar-female.png">
												<img src="../general/imagenes/avatar-female.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Andy Castillo</span>
											</label>
											<br><br>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
												<input type="radio" id="option-3" class="mdl-radio__button" name="options" value="avatar-male2.png">
												<img src="../general/imagenes/avatar-male2.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Pablo Espa침a</span>
											</label>
											<br><br>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
												<input type="radio" id="option-4" class="mdl-radio__button" name="options" value="avatar-female2.png">
												<img src="../general/imagenes/avatar-female2.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Francisco Bermello</span>
										</div>




										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
											<h5 class="text-condensedLight"></h5>
											
									<h5 class="text-condensedLight"> NO DISPONIBLES</h5>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
												<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="avatar-male.png">
												<img src="../general/imagenes/avatar-male.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Danny Lucas</span>
											</label>
											<br><br>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-6">
												<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="avatar-female.png">
												<img src="../general/imagenes/avatar-female.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Javier Solis</span>
											</label>
											<br><br>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-7">
												<input type="radio" id="option-3" class="mdl-radio__button" name="options" value="avatar-male2.png">
												<img src="../general/imagenes/avatar-male2.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Juan Cu침ez </span>
											</label>
											<br><br>
											<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-8">
												<input type="radio" id="option-4" class="mdl-radio__button" name="options" value="avatar-female2.png">
												<img src="../general/imagenes/avatar-female2.png" alt="avatar" style="height: 45px; width="45px;" ">
												<span class="mdl-radio__label">Jairo Rom치m </span>
											</label>
										</div>
									</div>
									<!-- Botones del Formulario-->		
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>