<h1>Esto es el index</h1>
{{saludo}}


<!--Aquí deben ir los estilos y los scripts que serán usados únicamente para esta vista-->
<!--index.css y index.js son solo un ejemplo-->
<!--<link rel="stylesheet" href="../modular/css/index.css">-->
<!--<script type="text/javascript" src="../modular/js/index.js"></script>-->
