<section class="full-width pageContent">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
										<label class="mdl-button mdl-js-button mdl-button--icon" for="searchPayment">
											<i class="zmdi zmdi-search"></i>
										</label>
										<div class="mdl-textfield__expandable-holder">
											<input class="mdl-textfield__input" type="text" id="searchPayment" validation="buscarTabla" event="keyup" TablaID="tablaProduct" datos="0,1" placeholder=" Buscar">
											<label class="mdl-textfield__label"></label>
										</div>
									</div>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive" id="tablaProduct">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Nombre</th>
							<th>Codigo</th>
							<th>Stock</th>
							<th>Precio</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Llantas</td>
							<td>2621351236</td>
							<td>7</td>
							<td>$77</td>
							<td>
								<div style="display:block;" id="div1">
									<button id="editClient" title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editProduct" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit" ></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteProduct" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Nombre del producto</td>
							<td>Nombre del producto</td>
							<td>7</td>
							<td>$77</td>
							<td>
								<div style="display:block;" id="div1">
									<button id="editClient" title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editProduct" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit" ></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteProduct" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Nombre del producto</td>
							<td>Nombre del producto</td>
							<td>7</td>
							<td>$77</td>
							<td>
								<div style="display:block;" id="div1">
									<button id="editClient" title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editProduct" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit" ></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteProduct" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Nombre del producto</td>
							<td>Nombre del producto</td>
							<td>7</td>
							<td>$77</td>
							<td>
								<div style="display:block;" id="div1">
									<button id="editClient" title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editProduct" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit" ></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteProduct" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Nombre del producto</td>
							<td>Nombre del producto</td>
							<td>7</td>
							<td>$77</td>
							<td>
								<div style="display:block;" id="div1">
									<button id="editClient" title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editProduct" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit" ></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteProduct" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Nombre del producto</td>
							<td>Nombre del producto</td>
							<td>7</td>
							<td>$77</td>
							<td>
								<div style="display:block;" id="div1">
									<button id="editClient" title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editProduct" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit" ></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteProduct" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Nombre del producto</td>
							<td>Nombre del producto</td>
							<td>7</td>
							<td>$77</td>
							<td>
								<div style="display:block;" id="div1">
									<button id="editClient" title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editProduct" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit" ></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteProduct" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
    <script src="../modular/scripts/validation.js" ></script>
