<div class="cover">
    <div class="container-login">
		<p class="text-center" style="font-size: 80px;">
			<i class="zmdi zmdi-account-circle"></i>
		</p>
		<p class="text-center text-condensedLight">CAR DE LUJO</p>
		<p class="text-center text-condensedLight">Inicie sesion con su cuenta</p>
		<form method="post" action="/users/login">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="user">
			    <input class="mdl-textfield__input" type="text" id="userName" name="username">
			    <label for="userName" class="mdl-textfield__label" id="NombreUsuario">Nombre de usuario</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="ctr">
			    <input class="mdl-textfield__input" type="password" id="pass" name="password">
			    <label for="pass" class="mdl-textfield__label" id="Contr">Contraseña</label>
			</div>
			<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Iniciar SESION</button> 
		</form>
	</div>
</div>
<!--Aquí deben ir los estilos y los scripts que serán usados únicamente para esta vista-->
<!--index.css y index.js son solo un ejemplo-->
<!--<link rel="stylesheet" href="../modular/css/index.css">-->
<!--<script type="text/javascript" src="../modular/js/index.js"></script>-->
<link rel="stylesheet" href="../modular/estilos/material.min.css">
<link rel="stylesheet" href="../modular/estilos/material-design-iconic-font.min.css">

<script src="../modular/scripts/material.min.js"></script>
<script src="../modular/scripts/jquery.mCustomScrollbar.concat.min.js" ></script>



