<section class="full-width pageContent">
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								Ventas de Productos
							</div>
							<div class="full-width panel-content">
								<form action="/admin/ventas" method="post">
									<div class="mdl-grid">
										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
											<h5>Datos de la Venta</h5>
											<br>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Factura N°:</label>
												<input value="{{incrementar}}" name="codigo_venta" class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="DNIAdmin">
												<label class="mdl-textfield__label" for="DNIAdmin"></label>
												<span class="mdl-textfield__error">Numero Invalido</span>
											</div>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Fecha de la Venta</label>
												<input name="fecha" class="mdl-textfield__input" type="text" id="NameAdmin">
												<label class="mdl-textfield__label" for="NameAdmin"></label>
												<span class="mdl-textfield__error">Nombre invalido</span>

												
											</div>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Cédula del Cliente</label>
												<input value="" name="cedula" class="mdl-textfield__input" type="text"  id="phoneAdmin">
												<label class="mdl-textfield__label" for="phoneAdmin"></label>
												<span class="mdl-textfield__error">Numero de telfono inavalido</span>
											</div>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Nombre del Cliente</label>
												<input class="mdl-textfield__input" type="email" id="emailAdmin">
												<label class="mdl-textfield__label" for="emailAdmin"></label>
												<span class="mdl-textfield__error">Correo Invalido</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
											<h5>Datos del Producto</h5>
											<br>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Código del Producto</label>
												<input name="codigo_producto" class="mdl-textfield__input" type="text" pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ]*(\.[0-9]+)?" id="UserNameAdmin">
												<label class="mdl-textfield__label" for="UserNameAdmin"></label>
												<span class="mdl-textfield__error">Nombre de usuario invalido</span>
											</div>
											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Descripción del Producto</label>
												<input class="mdl-textfield__input" type="text" id="passwordAdmin">
												<label class="mdl-textfield__label" for="passwordAdmin"></label>
												<span class="mdl-textfield__error">Contraseña invalida</span>
											</div>

											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Precio del Producto</label>
												<input class="mdl-textfield__input" type="text" id="passwordAdmin">
												<label class="mdl-textfield__label" for="passwordAdmin"></label>
												<span class="mdl-textfield__error">Contraseña invalida</span>
											</div>

											<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
												<label class="text-condensedLight" style="font-size:20px;">Cantidad</label>
												<input class="mdl-textfield__input" type="text" id="passwordAdmin">
												<label class="mdl-textfield__label" for="passwordAdmin"></label>
												<span class="mdl-textfield__error">Contraseña invalida</span>
											</div>
											<div >
												<!--<input type="submit" value="Guardar" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">
	                                            <button id="btn-updClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Modificar</button>
	                                            <button id="btn-seaClient"  class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Buscar</button>
	                                            <button id="btn-delClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Eliminar</button>
												-->
										    </div>
											
										</div>
									</div>
								</form>
								<button id="btn-delClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">Añadir Producto</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="full-width divider-menu-h"></div>
			<div class="mdl-grid" id="divTabla" >
				<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
					<form action="#">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
							<label class="mdl-button mdl-js-button mdl-button--icon" for="searchPayment">
								<i class="zmdi zmdi-search"></i>
							</label>
							<div class="mdl-textfield__expandable-holder">
								<input class="mdl-textfield__input" type="text" id="searchPayment" validation="buscarTabla" event="keyup" TablaID="tblPersonas" placeholder=" Buscar">
								<label class="mdl-textfield__label"></label>
							</div>
						</div>
					</form>
					<div style="overflow-x:auto;">				
						<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive" id="tblProductos">
							<thead>
								<tr>
									<th>Codigo de Producto</th>
									<th>Descripción</th>
									<th>Precio</th>
									<th>Cantidad</th>
									<th>Valor a Pagar</th>
								</tr>
							</thead>
							<tbody id="contenido">
								
							</tbody>
						</table>
					</div>
				</div>
				<center>
		           <button id="btn-addClient"  title="Registrar nuevo Cliente" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5;" validation="ocultarmostrar" ocultarID="divTabla" mostrarID="tabNewAdmin" event="click">Nuevo Registro</button>
		       	</center>
			</div>
		</div>
	</section>
