
footer{
   position:fixed;
   left:0px;
   padding-top: 4px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#3F51B5;
}
#contenido{
    /*margin-top:56px;*/
    margin-left: 12px;
    margin-right: 12px;
}
.infoElemento{
    margin-left: 12px;
}
#infoElemento{
    color: white
}